.signup {
  background: linear-gradient(
        108deg,
        rgb(62, 228, 159) 100%,
        rgb(3, 129, 77) 0%
    );
  height: 100vh;
  .logo {
    width: 200px;
    margin-top: 20px;
  }
  .container {
    margin-top: 30px;
    .row {
      .lottie {
        align-self: center;
      }
      .signintext {
        text-decoration: none;
        color: #01bf71;
        transition: all 0.2s ease-in-out;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .row {
    .lottie {
      display: none;
    }
  }
}
